apiVersion: v1
kind: PersistentVolume
metadata:
    name: mysql-pv
    spec:
        capacity:
              storage: 20Gi
                accessModes:
                      - ReadWriteOnce
                        persistentVolumeReclaimPolicy: Retain
                          hostPath:
                                path: "/mnt/data/mysql"

